.layout__region--right,
.program_rail {
  height: 100%;

  .hub-resource-field--type-hub-text-long {
    a[class*="btn-"] {
      margin-bottom: 2em;
    }
  }
}

.field--name-hub-field-hub-degree-intro {
  @include intro;
}

.program_rail, .layout__region--right {
  position: relative;
  z-index: 10;
  background: rgba($accent-2XLt,.2);

  @media #{$mediaMdMax} {
    margin: 0 -#{$gutter}rem;
    padding: #{$gutter * 2}rem #{$gutter}rem;
  }

  @media #{$mediaMd} {
    padding-bottom: 3rem;
  }

  > .block {
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }

    &.block-field-blockhub-referencedegreehub-field-hub-degree-title + .block.block-field-blockhub-referencedegreehub-field-hub-degree-availability {
      margin-top: -1em;
      margin-bottom: 2em;
    }

    p,
    ul {
      &:last-child {
        margin-bottom: 0;
      }

    }
    a {
      color: $primary;
      font-weight: 700;
    }

    &.block-field-blockhub-referencedegreehub-field-hub-degree-adm-rep {
      margin-top: 2em;
    }

    .btn-primary {
      width: 100%;
    }
  }

  h3 {
    position: relative;
    padding-bottom: (24 / 55) * 1em;
    color: $siderailTitle;
    font-weight: 400;

    @media #{$mediaLg} {
      font-size: 3.4rem;
      padding-bottom: 22px;
    }

    &:after {
      width: 55px;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background: $tertiary;

      @media #{$mediaMd} {
        height: 8px;
      }
    }
  }

  h4 {
    margin-bottom: (2 / 24) * 1em;
    font-weight: 500;
  }

  h5 {
    @include h6;
  }

  @media #{$mediaMd} {
    //padding-left: #{$gutter}rem;
  }

  @media #{$mediaLg} {
    //padding-left: #{$gutter * 2}rem;
  }

  @media #{$mediaMd} {
    background-color: transparent;

    &:after {
      width: 100vw;
      height: calc(100% + 62px);
      position: absolute;
      top: -62px;
      left: -#{$gutter * 2}rem;
      z-index: 0;
      content: "";
      background: rgba($accent-2XLt,.2);
    }
  }

  > div {
    position: relative;
    z-index: 10;
  }

  ul {
    margin-left: 0;
  }

  .field--name-hub-field-hub-degree-title, .field--name-hub-title {
    @include h6;
  }

  .block-field-blockhub-referencepd-coursehub-field-hub-pd-course-dates {
    padding: 2rem 0 3rem;

    > h4 {
      margin-bottom: 1rem;
    }

    @media #{$mediaMd} {
      padding: 3rem 0 4rem;
    }  
  }

  section, .section {
    padding-top: 0;

    > div {
      width: 100%;
      padding: 0;
    }

    &.copy-block > div > div {
      width: 100%;
    }
  }
}

.prog_left {
  padding-bottom: #{$gutter}rem;
  @media #{$mediaMd} {
    margin-right: #{$gutter * 2}rem;
    padding-bottom: #{$gutter * 4}rem;
  }
}

.program_rail,
.prog_left {
  @media #{$mediaFullHeader} {
    padding-top: 38px;
  }
}

.program_rail {
  @media #{$mediaFullHeader} {
    padding-top: 0;
    margin-top: -1rem;
  }
}

.admissions-rep {
  padding: 30px 0 0;
  border-top: 1px solid rgba($black,.2);

  h4 {
    margin-bottom: (3 / 24) * 1em;
  }

  @media #{$mediaMd} {
    padding: 45px 0 7rem - $gutter;
  }
}

.admissions-rep-info {
  @include flex();
  flex-wrap: nowrap;
  margin-top: #{$gutter}rem;

  > div {
    &:first-child {
      width: 102px;
      margin-right: 16px;

      @media #{$mediaMd} {
        width: 140px;
        margin-right: 18px;
      }

      @media #{$mediaMd} {
        width: 160px;
      }
    }

    &:last-child {
      flex-grow: 1;

      .hub-resource-field {
        margin-bottom: (6 / 19) * 1em;
      }

      .hub-resource-field--type-email {
        word-break: break-word;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .email-phone {
    line-height: 1.25em;

    //@media #{$mediaToggleHeader} {
      @include flex($jc: left);

      a {
        width: 50px;
        height: 35px;
        border: 1px solid $gray75;
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        position: relative;
        z-index: 5;
      }

      > div {
        position: relative;

        &:first-child {
          a {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
        }
        &:last-child {
          a {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }

        + div {
          a {
            border-left: 0;
          }
        }
      }
    //}

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      font-size: 18px;

      //@media #{$mediaFullHeader} {
      //  display: none;
      //}
    }
  }
}

.hub-resource-field--name-field-hub-adm-rep-name {
  text-transform: uppercase;
  font-weight: 600;
}


.course-date {
  @include flex($ff: row nowrap);
  padding: 12px 0;

  @media #{$mediaLg} {
    padding: 20px 0;
  }

  .field + .field & {
    border-top: 1px solid $gray5;
  }

  > div {
    //transition: all 5s;
    &:first-child {
      width: 48px;
      flex: 0 0 48px;
      color: $white;
      text-align: center;
      font-family: $headingFF;
      font-weight: bold;

      @media #{$mediaLg} {
        width: 70px;
        flex: 0 0 70px;
      }

      > div {
      }

      time {
        > div {
          width: 100%;
          height: 56px;
          background: $secondary;
          @include flex($jc: center, $ff: column nowrap);

          @media #{$mediaLg} {
            height: 82px;
          }
        }
        span {
          line-height: 1em;
          &:first-child {
            font-size: 22px;
            margin-bottom: (3 / 22) * -1em;

            @media #{$mediaLg} {
              font-size: 32px;
            }
          }

          &:last-child {
            font-size: 12px;
            @include letterSpacing(50);
            text-transform: uppercase;

            @media #{$mediaLg} {
              font-size: 18px;
            }
          }
        }
      }
    }

    &:last-child {
      flex-grow: 1;
      font-size: 16px;
      line-height: 1.3em;
      padding-left: 14px;
      color: $gray2;

      a {
        color: $gray2;
        text-decoration: none;
        font-weight: bold;
        margin-top: .1em;
        display: inline-block;

        &:after {
          @include iconfont;
          content: "\E01B";
          display: inline-block;
          margin-left: (15 / 20) * 1em;
          transform: translate(0, (4 / 20) * 1em);
          transition: all .25s;
        }



        @include hover {
          color: $secondary;

          &:after {
            transform: translate(.25em, (4 / 20) * 1em);
          }
        }
      }

      @media #{$mediaLg} {
        font-size: 20px;
      }
    }
  }
}

.layout__region--right {
  .block-field-blockhub-referencedegreehub-field-hub-degree-college-link {
    a {
      font-size: 16px;
      line-height: 1.3;
      text-decoration: none;
      color: $gray2;

      &:after {
        content: "\E01B";
        font-family: $iconFont;
        display: inline-block;
        padding-left: 6px;
        vertical-align: top;

        @media #{$mediaFullHeader} {
          padding-left: 9px;
        }
      }

      @media #{$mediaFullHeader} {
        font-size: 20px;
      }
    }
  }

  .field--name-hub-field-hub-degree-related-degrees {
    a {
      font-size: 1.4rem;

      @media #{$mediaFullHeader} {
        font-size: 1.9rem;
      }
    }
  }

  .block-views-blockcu-event-references-block-2 {
    padding: 2rem 0;

    @media #{$mediaFullHeader} {
      padding: 3.2rem 0;
    }

    h2 {
      @include h4;
      font-family: $copyFF;
    }

    .views-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: solid 1px $gray10;

      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    .views-field-field-event-date {
        background: $secondary;
        color: white;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: .55rem 1rem;
        position: relative;
        width: 70px;
        min-height: 80px;
        text-align: center; 
        margin-bottom: 0;
        margin-right: 14px;

      .icon {
          display: none;
        }

      time {
        font-family: $headingFF;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-top: 5px;
        line-height: 1;


        @media #{$mediaFullHeader} {
          padding-top: 3px;
        }
        span {
          font-size: 12px;
          padding-right: 0;

          @media #{$mediaFullHeader} {
            font-size: 18px;
          }

          &:nth-of-type(2) {
            font-size: 1.7em;
            @media #{$mediaFullHeader} {
              font-size: 1.9em;
            }
          }
        }
      }
    }

    .views-field-title-1 {
      a {
        font-size: 16px;
        line-height: 1.3;
        text-decoration: none;
        color: $gray2;

        &:after {
          content: "\E01B";
          font-family: $iconFont;
          display: inline-block;
          padding-left: 6px;
          vertical-align: top;

          @media #{$mediaFullHeader} {
            padding-left: 9px;
          }
        }

        @media #{$mediaFullHeader} {
          font-size: 20px;
        }
      }
    }
  }

  .field--name-hub-field-hub-degree-general-cta {
    a {
      @extend .btn-primary;
      text-decoration: none;
    }
  }
}

// Program Filters:
/*.region > .views-element-container {
  padding: #{$gutter}rem 0;

    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

    @media #{$mediaMd} {
        //background: $white;
        padding: #{$gutter * 1.5}rem 0;
    }
 
    @media #{$mediaLg} {
        padding: #{$gutter * 2}rem 0;
    }

    @media #{$mediaXl} {
        padding: #{$gutter * 2.5}rem 0;
    }
}*/

.view-explore-programs, .view-explore-programs-pd {
  > .program-type, .view-filters, .view-header {
    max-width: $siteWMx;
    margin: 0 auto;
    padding: 0 15px;
    
    @media #{$mediaMd} {
        padding: 0 #{$gutter}rem;
    }

    @each $q in $siteWQueryList {
        $i: index($siteWQueryList, $q);

        @if $i == 1 {
            width: nth($siteWList, $i);
        } @else {
            @media #{$q} {
                width: nth($siteWList, $i);
            }
        }
    }
  }

  .program-type {
    padding-top: 25px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: $copyFF;
    font-weight: 700;

    @media #{$mediaMd} {
      justify-content: flex-end;
      align-items: center; 
    }

    > span {
      flex-basis: 100%;
      font-size: 14px;
      color: $gray2;
      line-height: 1.2;
      display: block;
      margin-bottom: 12px;

      @media #{$mediaMd} {
        flex-basis: auto;
        margin-bottom: 0;
        margin-right: 24px;
      }

      @media #{$mediaLg} {
        font-size: 16px;
      }
    }

    > a {
      flex-grow: 2;
      border: solid 1px rgba($gray1, .2);
      border-left: 0;
      padding: 8px 10px 6px 10px;
      text-decoration: none;
      font-family: $headingFF;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      color: $gray2;

      @media #{$mediaSm} {
        padding: 8px 14px 6px 14px;
        flex-grow: 0;
      }

      @media #{$mediaLg} {
        font-size: 20px;
      }

      &:first-of-type {
        padding: 8px 14px 6px 9px;
        border-left: solid 1px rgba($gray1, .2);
        border-radius: 4px 0 0 4px;

        @media #{$mediaSm} {
          padding: 8px 19px 6px 13px;
        }
      }

      &:last-of-type {
        padding: 8px 9px 6px 14px;
        border-radius: 0 4px 4px 0;

        @media #{$mediaSm} {
          padding: 8px 13px 6px 19px;
        }
      }

      &.is-active {
        color: white;
        background: $secondary;
      }
    }


    @media #{$mediaLg} {
      padding-top: 30px;
    }
  }
  
  .view-filters {
    display: none;

    @media #{$mediaMd} {
      display: block;
    }

    > form {
      /*display: flex;
      flex-wrap: wrap;
      justify-content: space-between;*/
    }

    .filter-wrap {
      display: flex;
      justify-content: space-between;
      background: $off-white2;
      border-bottom: solid 2px $gray11;
      padding: 0 2.5rem;
      margin: 0;
    }

    @media #{$mediaMd} {
      .filter-search {
        flex-basis: 33%;
        order: 0;
        position: relative;

        .icon {
          position: absolute;
          width: 40px;
          height: 40px;
          right: 0;
          line-height: 40px;
          text-align: center;
          z-index: 1;
          background: $gray1;
          border-radius: 0 5px 5px 0;
          color: white;
          top: 15px;
          font-size: 2rem;
        }

        label {
          display: none;
        }

        .form-actions {
          margin-bottom: 0;
          margin-top: 0;
        }
        
        .form-item-search {
          input {
            padding-right: 50px;
            border-radius: 5px;
          }  
        }
      }


      .sort {
        flex-basis: auto;
        order: 1;

        &:after {
          display: table;
          clear: both;
        }

        legend, .fieldset-wrapper {
          float: left;
          height: 45px;
          display: flex;
          align-items: center;
        }

        legend {
          font-weight: 700;
          padding: 10px 16px 10px 14px;
          border: solid 1px rgba($gray1, .2);
          border-radius: 5px 0 0 5px;
          font-size: 16px;
          text-transform: uppercase;
          
          &:after {
            content: ":";
          }
        }

        .fieldset-wrapper {
          float: left;

          .option {
            height: 45px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 10px 16px 10px 14px;
            border: solid 1px rgba($gray1, .2);
            border-left-width: 0;
            font-size: 16px;
            line-height: 1;
            cursor: pointer;
            transition: background .25s ease-out;

            &:before {
              display: none;
            }
          }

          .form-type-radio:last-of-type {
            .option {
              border-radius: 0 5px 5px 0;
            }
          }

          input[type="radio"]:checked + .option {
            background: $secondary;
            color: white;
          }
        }

        .form-radios {
          display: flex;
        }
      }

      .filters {
        flex-basis: 100%;
        order: 2;
      }
    }

    @media #{$mediaFullHeader} {
      .filter-search {
        flex-basis: 25%;
        .icon {
          top: 19px;
        }
      }
    }
  }

  .view-summary {
    font-size: 14px;
    color: $gray3;
    padding-bottom: 15px;

    @media #{$mediaLg} {
      font-size: 16px;
      font-weight: 700;
      color: $gray2;
    }
  }
}

.programs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;

  &:before {
    content: 'Filters';
    border: solid 1px rgba($gray1, .2);
    background: white;
    font-weight: 700;
    height: 43px;
    padding: 0 20px 0 19px;
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
  }

  > button {
    background: white;
    height: 43px;
    padding: 0 14px;
    border: solid 1px rgba($gray1, .2);
    border-left-width: 0;
    display: flex;
    flex-direction: row;
    transition: all .3s ease-out;

    &:after {
      font-family: $iconFont;
      content: "\E009";
      display: block;
      transform: rotate(180deg);
      margin-left: 5px;
      color: rgba(black, .3);
      transition: all .3s ease-out;
    }

    &:last-of-type {
      border-radius: 0 5px 5px 0;
    }

    &[aria-expanded="true"] {
      color: white;
      background: $secondary;
      transition: all .2s ease-out;

      &:after {
        color: rgba(white, .4);
        transition: all .2s ease-out;
      }
    }
  }
}

.program-listing {
  > div {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: -40px;

    > .views-row {
      flex-basis: 100%;
      margin-bottom: 40px;

      @media #{$mediaSm} {
        margin-left: 24px;
      }      

      @media #{$mediaSmOnly} {
        flex-basis: calc(50% - 12px);
        &:nth-of-type(2n + 1) {
          margin-left: 0;
        }
      }

      @media #{$mediaMdOnly} {
        flex-basis: calc(50% - 12px);
        &:nth-of-type(2n + 1) {
          margin-left: 0;
        }
      }

      @media #{$mediaLg} {
        flex-basis: calc(25% - 18px);

        &:nth-of-type(4n + 1) {
          margin-left: 0;
        }
      }

      > .views-field, > .views-field > .field-content  {
        display: block;
        height: 100%;
      }

      > .views-field .hub-reference--type-degree, > .views-field .hub-reference--type-pd-course {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        .field--name-hub-field-hub-degree-list-image, .field--name-hub-field-hub-pd-course-list-image {
          @media #{$mediaSm} {
            flex: 1;
          }
        }
      }
    }
  }

  .field--name-hub-field-hub-degree-list-image {
    //margin-bottom: 1rem;
  }

  .field--name-hub-field-hub-degree-list-image a, .field--name-hub-field-hub-pd-course-list-image a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .field--name-hub-title, .field--name-hub-field-hub-pd-course-program {
    width: 100%;
    padding: 1rem 0;
    font-size: 15px;
    line-height: 1;
    font-family: $copyFF;
    font-weight: 600;
    border-bottom: solid 2px $accent-5;

    @media #{$mediaXl} {
      font-size: 19px;
      padding: 1.5rem 0;
    }

    a {
      text-decoration: none;
      color: $secondary;
    }
  }

  .field--name-hub-field-hub-degree-availability,
  .field--name-hub-field-hub-pd-course-availability {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: $copyFF;
    font-weight: 500;
    font-size: 13px;
    padding: 3px 0;
    color: $gray3;

    @media #{$mediaXl} {
      font-size: 17px;
      padding: 5px 0;
    }

    span {
      padding-left: 2rem;
      margin-left: 2rem;
      position: relative;
      display: flex;
      align-items: center;
      font-family: $headingFF;

      @media #{$mediaXl} {
        padding-left: 3rem;
      }

      &:before {
        font-size: 1.2em;
        line-height: 1;
        font-family: $iconFont;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:first-of-type {
        margin-left: 0;
      }
    }

    .hybrid {
      &:before {
        color: $hybridYellow;
        content: "\E013";
      }
    }

    .on-campus {
      &:before {
        color: $campusGreen;
        content: "\E018";
      }
    }

    .off-campus {
      &:before {
        color: $tertiary;
        content: "\E017";
      }
    }

    .online {
      &:before {
        color: $tertiary;
        content: "\E019";
      }
    }
  }
}

// Filters

.program-filters {
  > div {
    border-bottom: solid 2px rgba($gray2, .2);
  }

  legend {
    display: none;
  }

  .fieldset-wrapper > .form-radios > .form-radios {
    display: flex;
    flex-direction: row;

    .form-item-method {
      flex-basis: 25%;
    }
  }

  input[type="radio"] {
    + label {
      font-size: 16px;
      transition: color .3s ease-out;
      cursor: pointer;
    }

    + label:before {
      width: 18px;
      height: 18px;
      border-radius: 0;
      box-shadow: none;
      background: none!important;
      border: solid 2px rgba($gray65 ,0.4);
    }

    + label:after {
      font-family: $iconFont;
      content: "\E004";
      font-size: 1.2rem;
      position: absolute;
      left: 3px;
      top: 6px;
      color: rgba($gray65 ,0.4);
      font-weight: 300;
      opacity: 0;
      transition: opacity .3s ease-out;
    }
    
    + label {
      &:hover, &:focus {
        transition: color .2s ease-out;
        color: $primaryLt;
        &:before {
          background: none;
          box-shadow: none;
          border: solid 2px rgba($gray65 ,0.4);
        }
        &:after {
          opacity: 1;
          transition: opacity .2s ease-out;
        }
      }
    }

    &:checked {
      + label {
        color: $thead;
        &:hover, &:focus {
          color: $thead;
          &:before {
            background: none;
            box-shadow: none;
            border: solid 2px $thead;
          }
        }
      }
      + label:before {
        background: none;
        box-shadow: none;
        border: solid 2px $thead;
      }

      + label:after {
        color: $thead;
        opacity: 1;
      }
    }
  }

  #edit-method--wrapper {
    span.term-wrapper {
      padding-left: 2rem;
      margin-left: 2rem;
      position: relative;
      align-items: center;

      @media #{$mediaXl} {
        padding-left: 3rem;
      }

      &:before {
        font-size: 1.2em;
        line-height: 1;
        font-family: $iconFont;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &:first-of-type {
        margin-left: 0;
      }
    }

    .hybrid {
      &:before {
        color: $hybridYellow;
        content: "\E013";
      }
    }

    .on-campus {
      &:before {
        color: $campusGreen;
        content: "\E018";
      }
    }

    .off-campus {
      &:before {
        color: $tertiary;
        content: "\E017";
      }
    }

    .online {
      &:before {
        color: $tertiary;
        content: "\E019";
      }
    }
  }
}

.program-facets {
  display: flex;

  .facet {
    padding-left: 2rem;
    margin-left: 2rem;
    position: relative;
    align-items: center;
    cursor: pointer;

    @media #{$mediaXl} {
      padding-left: 3rem;
    }

    &:before {
      font-size: 0.5em;
      line-height: 1;
      font-family: $iconFont;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: $black;
      content: "\E00A";
    }
  }
}
