/*  --------------------------------------------------------------------------  *\

    OVERLAPPING

\*  --------------------------------------------------------------------------  */
.overlapping {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    @include flex(flex-start, stretch, stretch, row nowrap);
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    oveflow: visible;
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    
    > * {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        @include flexItem(0, 0, auto);
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        width: 30rem;
        margin: 0 0 0 #{$gutter * -6}rem;
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        @include boxShadow(0 0 1.5rem rgba(0, 0, 0, .5));
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        @include transition(all .25s);
        
        @include hover {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            @include transform(translate3d((#{$gutter * -1}rem), -2rem, 0) rotate(-2.5deg));
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
            
            ~ * {
                @include transform(translate3d((#{$gutter * 3.75}rem), 0, 0));
            }
        }
    }
}