/*  --------------------------------------------------------------------------  *\

    OWL CAROUSEL - NAVIGATION

    This styles the globally used owl-item wrapping element.

\*  --------------------------------------------------------------------------  */
.owl-nav {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    
}
.owl-prev, .owl-next {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    @include position(absolute, 100, top, 50%, translate(0, -50%));
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    width: 5rem;
    height: 100%;
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    color: $accent-3;
    font-size: 12.5rem;
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

    @include hover {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        color: $primary;
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    }
}

.owl-prev {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    left: 0;
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
}

.owl-next {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    right: 0;
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
}

