{#
/**
 * @file
 * Default theme file to display a hub_resource item.
 *
 * Available variables:
 * - content: hub resource content.
 *
 * @see template_preprocess_hub_resource()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'hub-resource',
    'hub-resource--type-' ~ resource_type|clean_class,
    'copy-block',
    'section',
    collapsed_text ? 'collapsed-text'
  ]
%}

{% block resource %}
  {% if collapsed_text %}
    {{ attach_library('cu2019_grad/collapsed-text') }}
  {% endif %}
  <section{{ attributes.addClass(classes) }}>
    <div>
      <div>
    {% block content %}
      {% if collapsed_text %}
        <div class="collapsed-text-content">
          {{ content.field_formatted_text_body }}
        </div>
        <button class="btn-expand" data-toggletext='{"collapsed":"Read More","expanded":"Show Less"}'>Read More</button>
      {% else %}
        {{ content.field_formatted_text_body }}
      {% endif %}
    {% endblock %}
      </div>
    </div>
  </section>
{% endblock resource %}
