{#
/**
 * @file
 * Default theme file to display a hub_resource item.
 *
 * Available variables:
 * - content: hub resource content.
 *
 * @see template_preprocess_hub_resource()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'hub-resource',
  'hub-resource--type-' ~ resource_type|clean_class,
]
%}
{% if parent == 'field_landing_page_content' %}
{% set wrapper = 'section' %}
{% endif %}
{% block resource %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {# { content } #}
      {% include '@cu2019_grad/components/image-video.html.twig' with {
        'wrapper': wrapper,
        'media_type': media_type,
        'image': content.field_image_video_media,
        'video': video,
        'caption': content.field_image_video_caption
      } %}
    {% endblock %}
  </div>
{% endblock resource %}
