{#
/**
 * @file
 * Default theme file to display a hub_resource item.
 *
 * Available variables:
 * - content: hub resource content.
 *
 * @see template_preprocess_hub_resource()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'hub-resource',
    'hub-resource--type-' ~ resource_type|clean_class
  ]
%}
{% block resource %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {# { content } #}
      {% include '@cu2019_grad/components/card.html.twig' with {
        'wrapper': 'section',
        'wrapper_class': 'full-screen',
        'image': content.field_fwp_background,
        'title': content.field_fwp_title,
        'body': content.field_fwp_body,
        'class': 'fw_photo img-behind ' ~ overlay,
        'button': {
          'url': content.field_fwp_cta[0]['#url'],
          'title': content.field_fwp_cta[0]['#title']
        }
      } %}
    {% endblock %}
  </div>
{% endblock resource %}
