{#
/**
 * @file
 * Default theme file to display a hub_resource item.
 *
 * Available variables:
 * - content: hub resource content.
 *
 * @see template_preprocess_hub_resource()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'hub-resource',
  'hub-resource--type-' ~ resource_type|clean_class,
]
%}
{% block resource %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.field_next_steps_collection %}
      {{ content.field_next_steps_collection }}
    {% endif %}
  </div>
{% endblock resource %}
