{#
/**
 * @file
 * Default theme file to display a hub_resource item.
 *
 * Available variables:
 * - content: hub resource content.
 *
 * @see template_preprocess_hub_resource()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'hub-resource',
  'hub-resource--type-' ~ resource_type|clean_class,
  'two-column',
  'section',
]
%}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div>
      <div>
    {% block content %}
        {{ content.field_two_column_left }}
        {{ content.field_two_column_right }}
    {% endblock %}
      </div>
    </div>
  </section>
{% endblock paragraph %}
