{#
/**
 * @file
 * Default theme file to display a hub_resource item.
 *
 * Available variables:
 * - content: hub resource content.
 *
 * @see template_preprocess_hub_resource()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'hub-resource',
  'hub-resource--type-' ~ resource_type|clean_class,
]
%}
{% block resource %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <a href="{{ content.field_next_step_link[0]['#url'] }}">
        <span class="icon icon-{{ icon }}"></span>
        <span>{{ content.field_next_step_link[0]['#title'] }}</span>
      </a>
    {% endblock %}
  </div>
{% endblock resource %}
