/*  --------------------------------------------------------------------------  *\

    FORM > Slate form-aa6cf095-bff9-4bc2-bd45-9d979fc17943 STYLING

\*  --------------------------------------------------------------------------  */
#form_page_aa6cf095-bff9-4bc2-bd45-9d979fc17943 {
  #form_page_1 {
    .form_label {
      color: $secondary;
    }

    @media #{$mediaLg} {
      display: grid;
      width: 99%;
      grid: auto auto auto auto / 50% 50%;
      grid-column-gap: 1%;

      .form_question_9cde908c-6411-4ca1-b737-425ca58baee4 {
        grid-row: 1;
        grid-column-start: span 2;
      }

      .form_question_9be9a0fe-afb1-4f8d-84e8-8181809d1862 {
        grid-row: 3;
        grid-column-start: span 2;
      }

      .form_question_1b0bac0d-027c-4fe0-bb9f-228cdac0e844 {
        grid-row: 4;
        grid-column-start: span 2;
      }
    }
  }
}
