/*  --------------------------------------------------------------------------  *\

    ANIMATION > ZOOM OUT

\*  --------------------------------------------------------------------------  */
@include keyframes(zoomOut) {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        @include transform(scale3d(0.3, 0.3, 0.3));
    }

    to {
        opacity: 0;
    }
}

&.zoom-out {
    @include animationName(zoomOut);
}
