&.fac-3col {
  background: $facDetailBg;
  border-bottom: 8px solid $tertiary;

  .layout__region {
    height: 100%;
  }

  .fac_rail {
    height: 100%;
    position: relative;

    > div {
      position: relative;
      z-index: 10;
    }

    &:before {
      width: 200vw;
      height: calc(100% + #{$gutter * 2}rem);
      position: absolute;
      left: 0;
      top: -#{$gutter}rem;
      content: "";
      background: $facDetailBgRt;
      transform: translateX(-50%);

      @media #{$mediaMd} {
        height: calc(100% + #{$gutter * 3}rem);
        left: -#{$gutter * 2}rem;
        top: -#{$gutter * 1.5}rem;
        transform: translateX(0);
      }

      @media #{$mediaLg} {
        height: calc(100% + #{$gutter * 4}rem);
        top: -#{$gutter * 2}rem;
      }

      @media #{$mediaXl} {
        height: calc(100% + #{$gutter * 5}rem);
        top: -#{$gutter * 2.5}rem;
      }
    }
  }

  .faculty-image {
    padding-bottom: #{$gutter}rem;
  }
}

.layout__region--facmiddle {
  padding-bottom: #{$gutter * 2}rem;
  @media #{$mediaMd} {
    padding-right: #{$gutter * 2}rem;
  }

  .field__item {
    margin-bottom: (6 / 19) * 1em;

    &.field--name-hub-field-hub-faculty-department {
      @include h4;
      margin-bottom: (10 / 24) * 1em;
    }
  }

  h3.field__item {
    line-height: .825em;
    margin-bottom: (33 / 40) * 1em;
    &:after {
      bottom: (10 / 40) * -1em;
    }
  }

  .btn-secondary {
    margin-top: 20px;
    min-width: 0;
  }
}

@at-root {
  .view-cu-faculty-references {
    .listing-filters {
      display: block;

      .accordion.filters {
        display: flex;
        &:before {
          content: 'Filters';
          border: solid 0.1rem rgba(93, 100, 104, 0.2);
          background: white;
          font-weight: 700;
          height: 4.3rem;
          padding: 0 2rem 0 1.9rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 0.5rem 0 0 0.5rem;
        }

        dt {
          &:last-of-type {
            div {
              border-radius: 0 5px 5px 0;
            }
          }
        }

        div[role="button"] {
          height: 4.3rem;
          border: solid 0.1rem rgba(93, 100, 104, 0.2);
          font-size: 1em;
          font-family: proxima-nova, sans-serif;
          font-weight: 400;
          cursor: pointer;
          vertical-align: middle;
          transition: all .3s ease-out;

          &[aria-expanded="true"] {
            color: white;
            background: $secondary;
            transition: all .2s ease-out;

            &:after {
              color: rgba(white, .4);
              transition: all .2s ease-out;
            }
          }
        }
      }
    }

    @media #{$mediaToggleHeader} {
      @include flex($ff: column nowrap);

      > header,
      > div {
        order: 1;
      }

      .section {
        padding: 0;

        @media #{$mediaFullHeader} {
          padding-bottom: 3rem;
        }
      }

      .view-content .section {
        @media #{$mediaFullHeader} {
          padding-bottom: 6.25rem;
        } 
      }

      .listing-filters {
        order: 2;
      }
    }
  }
}
