/*---===<<< GRID >>>===---*/
/*---=== BASE STUFF ===---*/
@mixin col {
  padding: 0 16px;
  margin: 0;
  @include flexItem(0, 0, auto, 0);

  @media #{$mediaMd} {
      order: 1;
      padding: 0 #{$gutter}rem;
  }
}

[class*="col-"] {
  @include col;
}

.no-gutter {
  @media #{$mediaMd} {
    padding: 0;
  }
}

.row + * {
    margin-top: #{$gutter * 2}rem;
}

@media #{$mediaMd} {
    .pull-left {
        order: 0;
    }
    .push-right {
        order: 2;
    }
    .float-left {
        margin: 0 #{$gutter}rem #{$gutter}rem 0;
        float: left;
    }
    .float-right {
        margin: 0 0 #{$gutter}rem #{$gutter}rem;
        float: right;
    }
}
@include row();
.row {
    &.align-center {
        justify-content: center;
        align-items: center;
    }
    &.align-left {
        justify-content: flex-start;
    }
    &.align-right {
        justify-content: flex-end;
    }
    &.va-center {
        align-items: center;
    }
    &.va-top {
        align-items: flex-start;
    }
    &.va-bottom {
        align-items: flex-end;
    }
    &.ha-center {
        justify-content: center;
    }
    &.ha-top {
        justify-content: flex-start;
    }
    &.ha-right {
        justify-content: flex-end;
    }
}
@include generateCols();
