/*  --------------------------------------------------------------------------  *\

    THE SITES SECTION

    Make sure to keep the section within the main so that we can use <section> in
    other places as well and style it differently

\*  --------------------------------------------------------------------------  */
.section {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    @include position(relative, 110);
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    padding: #{$gutter}rem 0;

    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

    @media #{$mediaMd} {
        //background: $white;
        padding: #{$gutter * 1.5}rem 0;
    }

    @media #{$mediaLg} {
        padding: #{$gutter * 2}rem 0;
    }

    @media #{$mediaXl} {
        padding: #{$gutter * 2.5}rem 0;
    }

    > div {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        max-width: $siteWMx;
        margin: 0 auto;
        padding: 0 #{$gutter}rem;
        
        @media #{$mediaMd} {
            padding: 0 #{$gutter}rem;
        }
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

        // ADJUST THE WIDTH FOR $siteWList IN EACH MEDIA QUERY USING $siteWQueryList
        @each $q in $siteWQueryList {
            $i: index($siteWQueryList, $q);

            @if $i == 1 {
                // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
                // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
                width: nth($siteWList, $i);
                // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
                // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
                // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
                // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
            } @else {
                @media #{$q} {
                    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
                    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
                    width: nth($siteWList, $i);
                    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
                    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
                    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
                    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
                }
            }
        }
    }

    &.npt {
        padding-top: 0;
    }

    &.np {
        padding: 0;
    }

    &.static {
        position: static;
    }

    &.copy-block {
      > div > div {
        @media #{$mediaFullHeader} {
          width: 58.33%;
        }
        margin: auto;
      }
    }

    &.layout--program-detail-2col {
      padding-bottom: 0;
    }

    &.layout--generic-content {
      padding: 0;

      .layout__region--main {
        padding: 2rem 0;

        @media #{$mediaFullHeader} {
            padding: 4rem 0;
        }
      }
    }

    &.layout--program-detail-2col > .section{
        padding: 0;

        > div, > div > div {
            width: 100%;
            padding: 0;
        }
    }


    @media #{$mediaToggleHeader} {
        &.ptb {
            padding: #{$gutter * 2}rem 0;
        }
        &.ptb-lgt {
            z-index: 0;
            margin-top: #{$gutter * -3}rem;
            padding: #{$gutter * 3}rem 0;
        }
    }

    @media #{$mediaLg} {
        &.ptb-lgt {
            z-index: 0;
            margin-top: 0;
            padding: #{$gutter * 6}rem 0 #{$gutter * 4}rem;
        }
    }
    @import 'section-layouts/_full-screen';
    @import 'section-layouts/_home';
    @import 'section-layouts/_int';
    @import 'section-layouts/_prg';
    @import 'section-layouts/_faculty';

    @import 'section-backgrounds/_feat-tiles';
}
@import 'section-layouts/_grid';

.layout--onecol {
  background-image: url(../../img/feature_slash_bg.png);
  background-repeat: repeat-y;
  background-size: 75%;
  background-position: 98rem;
}
