.field--name-hub-field-hub-news-date, .field--name-hub-field-hub-news-location, .field--name-hub-field-hub-news-type {
  @include h6;
}

.block-field-blockhub-referencenewshub-field-hub-news-body {
  margin-top: 1em;
}

.news-info, .location-info, .news-type, .field--name-hub-field-hub-blog-date {
  @include flex($ai:center);
  margin-bottom: 2.4rem;

  @media #{$mediaFullHeader} {
    margin-bottom: 3.2rem;
  }

  span {
  	@media #{$mediaMd} {
  		font-size: 2rem;
  	}
  }

  .icon {
    color: $gray65;
    margin-right: 9px;
    transform: translateY(1px);
  }
}

.field--name-hub-field-hub-blog-date {
  &:before {
    color: $gray65;
    margin-right: 9px;
    
    display: inline-block;
    content: "\E00D";
    font-family: $iconFont;

    @media #{$mediaMd} {
      font-size: 2rem;
      transform: translateY(-1px);
    }
  }
}
// /*  --------------------------------------------------------------------------  *\
//
//     FEED - BASIC
//
// \*  --------------------------------------------------------------------------  */
// .article-detail {
//     // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//     // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//     // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//     // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//     // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//     // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//
//     @media #{$mediaMd} {
//         // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//         @include flex(space-between, flex-start, flex-start, row nowrap);
//         // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//         // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//         // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//         // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//         // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//     }
//
//     > article {
//         // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//         // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//         margin: 0 0 2.5rem;
//         // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//         border-bottom: .2rem solid $accent-3;
//         // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//         // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//         // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//
//         @media #{$mediaMd} {
//             // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//             @include flexItem(1, 0, auto, 0);
//             // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//             width:calc(66.667% - #{$gutter}rem);
//             padding: 0 #{$gutter}rem 0 0;
//             // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//             border-bottom: none;
//             border-right: .2rem solid $accent-3;
//             // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//             // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//             // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//         }
//
//         @media #{$mediaLg} {
//             // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//             // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//             width:calc(75% - #{$gutter}rem);
//             // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//             // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//             // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//             // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//         }
//     }
//
//     > aside {
//         // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//         // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//         // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//         // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//         // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//         // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//
//         @media #{$mediaMd} {
//             // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//             @include flexItem(0, 0, auto, 0);
//             // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//             padding: 0 0 0 #{$gutter}rem;
//             width: 33.333%;
//             // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//             // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//             // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//             // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//         }
//
//         @media #{$mediaLg} {
//             // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//             // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//             width: calc(25%);
//             // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//             // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//             // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//             // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//         }
//     }
//
//     &.flipped {
//         // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//         // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//         // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//         // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//         // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//         // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//
//         > article {
//             // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//             // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//             // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//             // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//             // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//             // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//
//             @media #{$mediaMd} {
//                 // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//                 order: 1;
//                 // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//                 padding: 0 0 0 #{$gutter}rem;
//                 // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//                 border-right: none;
//                 border-left: .2rem solid $accent-3;
//                 // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//                 // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//                 // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//             }
//         }
//
//         > aside {
//             // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//             // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//             // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//             // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//             // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//             // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//
//             @media #{$mediaMd} {
//                 // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
//                 // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
//                 padding: 0 #{$gutter}rem 0 0;
//                 // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
//                 // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
//                 // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
//                 // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
//             }
//         }
//     }
//
//     @import 'detail/_byline';
//     @import 'detail/_bio';
//     @import 'detail/_share';
//     @import 'detail/_tags';
// }
