/*  --------------------------------------------------------------------------  *\

    FILTERS ARCHIVES

\*  --------------------------------------------------------------------------  */
$r: 5;

.listing-filters {
  z-index: 111;
  display: none;
  &.section {
    padding: 0;
  }

  .form-item {
    margin: 0;
  }

  .view-filters {
    position: relative;
    background: $facDetailBg;

    .filter-search {
      @include flex($ai: center);
      position: relative;

      .form-item-search {
        @media #{$mediaToggleHeader} {
          background: $gray9;
          width: 100%;
          display: flex;
          padding: 1.9rem 1.2rem 1.5rem 1.5rem;
          align-items: center;
        }
      }

      label {
        @media #{$mediaToggleHeader} {
          flex-basis: 33%;
          margin-bottom: 0;
        }

        @media #{$mediaFullHeader} {
          @include srOnly;
        }
      }

      .form-actions {
        margin: 0;

        @media #{$mediaToggleHeader} {
          position: absolute;
          top: calc(50% - 2rem);
          left: calc(33% + .75rem);
          
          input {
            border: none;
            background: transparent;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 4px;
          }
        }
      }

      input {
        height: 42px;
        font-size: 16px;
        font-weight: bold;
        padding: 0 1rem;

        &[type="text"] {
          width: 182px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-right: 0;

          @media #{$mediaToggleHeader} {
            border-radius: 4px;
            width: auto;
            border: solid 1px rgba($gray2, .15);
            background: white;
            flex-basis: 60%;
            padding-left: 4.5rem;
          }
        }

        &[type="submit"] {
          width: 40px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          background-color: $gray1;
          border-color: $gray1;
          text-indent: -9999px;

          @media #{$mediaToggleHeader} {
            //background: transparent;
          }
        }
      }

      .icon {
        font-size: 20px;
        color: $white;
        line-height: 1;
        position: absolute;
        top: calc(50% - 10px);
        right: 10px;
        pointer-events: none;

        @media #{$mediaToggleHeader} {
          right: inherit;
          left: calc(33% + 1.5rem);
          top: calc(50% - 7.5px);
          color: $gray8;
        }
      }
    }

    form {
      @include flex($ff: column nowrap);
    }
  }

  @media #{$mediaToggleHeader} {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    z-index: 99999;
    transform: translateY(100%);
    transition: all .25s;

    &.open {
      transform: translateY(0);
    }

    .row,
    [class*="col-"],
    .view-filters {
      padding: 0;
      height: 100%;
    }

    .view-filters {
      form {
        height: 100%;
      }
    }

    .accordion.filters {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 33% calc(67% - 5px);
      grid-template-rows: repeat($r,auto) 1fr;
      background: $gray9;
      margin-top: 5px;

      dd {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: $r + 2;
        background: $white;
        padding: 15px;
        border-left: solid 5px $facDetailBg;

        label {
          display: block;
        }

        input[type="radio"],
        input[type="checkbox"] {

          &:checked + label {
            //background: red;
          }
        }
      }

      dt {
        grid-column: 1;
        @for $i from 1 to $r {
          &:nth-child(#{($i * 2) - 1}) {
            grid-row: $i;
          }
        }
      }
    }
  }

  @media #{$mediaFullHeader} {

    .view-filters {
      background: $off-white2;
      border-bottom: 1px solid $gray75;
      padding: #{$gutter / 2}rem;
      margin-top: #{$gutter / 2}rem;

      .form--inline {
        display: flex;
        justify-content: space-between;

        &:after {
          display: none;
        }

        .form-actions {
          @include srOnly;
        }
      }



      form {
        justify-content: space-between;
        flex-direction: row;
      }

    }
  }
}

.listing-filters-toggle {
  width: 100%;
  background: $primary;
  color: $white;
  font-size: 18px;
  font-family: $headingFF;
  padding: 8px;
  @include flex($jc: center, $ai:center);
  order: 10;

  span {
    display: inline-block;
  }

  .icon {
    height: 38px;
    width: 38px;
    font-size: 20px;
    border: 1px solid rgba($white,.4);
    border-radius: 4px;
    line-height: 1em;
    margin-right: 11px;
    @include flex($jc: center, $ai:center);
  }

  @media #{$mediaFullHeader} {
    display: none;
  }
}

.listing-header {
  &.section {
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    margin-top: (24 / 16) * 1em;

    @media #{$mediaXs} {
      display: none;
    }
  }
}

.accordion.filters {
  margin: 0;

  dt ~ dt {
    margin: 0;
  }

  div[role="button"] {
    font-size: 15px;
    color: $gray1;
    cursor: pointer;
    padding: 8px 24px 8px 8px;
    background: white;
    border: 2px solid $gray6;
    border-left: 0;
    transition: all .5s;
    position: relative;

    @media #{$mediaToggleHeader} {
      background: transparent;
      border: 2px solid rgba($gray6, 0);
      padding-left: 15px;

      &:before {
        width: calc(100% - 15px);
        height: 2px;
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        background: rgba($gray2, .15);
      }
    }

    &:after {
      font-family: $iconFont;
      content: "\E009";
      color: $gray65;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      right: 16px;

      @media #{$mediaToggleHeader} {
        transform: translateY(-50%) rotate(90deg);
        font-size: 2rem;
      }
    }

    @media #{$mediaLg} {
      padding: 8px 40px 8px 16px;
    }

    &[aria-expanded="true"] {
      background: $thead;
      border-color: $thead;
      color: $white;

      @media #{$mediaToggleHeader} {
        border-color: transparent
      }
    }
  }

  dd {

    @media #{$mediaFullHeader} {
      position: absolute;
      width: 100%;
      top: calc(100% + 2rem);
      left: 0;
      padding-bottom: 2rem;
      border-bottom: solid 1px rgba($gray2, .2);
    }

    fieldset {
      width: 100%;
    }

    .form-radios {
      display: flex;
      flex-wrap: wrap;

      @media #{$mediaToggleHeader} {
        flex-direction: column;
      }
      
      .form-item {
        @media #{$mediaFullHeader} {
          width: 25%;
        }
      }

      input[type="radio"]:checked + label {
        color: $thead;

        &:before {
          background: transparent;
          border-color: $thead;
        }

        &:after {
          color: $thead;
          opacity: 1;
        }
      }

      label {
        display: block;
        margin-bottom: 0;
        padding-right: .6rem;
        transition: color .3s ease-out;
        
        @media #{$mediaToggleHeader} {
          font-family: $headingFF;
        }

        &:before {
          border-radius: 1px;
          border-size: 2px;
          border-color: $gray75;
          background: transparent;
          transition: border-color .3s ease-out;
          top: 1.9rem;
        }

        &:after {
          content: "\E004";
          font-family: $iconFont;
          position: absolute;
          left: 1px;
          top: 9px;
          font-size: 1.4rem;
          color: $gray75;
          opacity: 0;
          transition: all .3s ease-out;
        }

        &:hover, &:focus {
          cursor: pointer;
          color: $primaryLt;

          &:after {
            transition: all .2s ease-out;
            opacity: 1;
          }
        }
      }
    }


  }

  legend {
    @include srOnly;
  }
}
