%h100 {
  height: 100%;
}

.feat-tiles {
  @media #{$mediaMd} {
    margin: 0 #{$gutter}rem;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @media #{$mediaMd} {
    > div {
      @include flex();
      margin: -5px;
    }
  }

  > div > div {
    margin: 16px 0;

    @media #{$mediaMd} {
      width: 50%;
      padding: 5px;
      margin: 0;
    }

    @media #{$mediaXl} {
      width: 33.3%;
    }

    > .field__item {
      @extend %h100;
      > .hub-resource--type-paragraph-quote-ref {
        @extend %h100;
        > .field__items {
          @extend %h100;
          > .field__item {
            @extend %h100;
            > div {
              @extend %h100;
              > .hub-resource {
                @extend %h100;
              }
            }
          }
        }
      }
    }

    .hub-resource-field {
      //height: 100%;
    }

    // .hub-resource-field__item {
    //   height: 100%;
    //   color: white;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //     article.embedded-entity {
    //       text-align: center;
    //
    //     img {
    //       width: auto;
    //       height: 100%;
    //       max-height: 90px;
    //       display: inline-block;
    //       margin-bottom: 1rem;
    //
    //       @media #{$mediaLg} {
    //         max-height: 135px;
    //         margin-bottom: 2rem;
    //       }
    //     }
    //   }
    // }
  }

/*  img {
    width: 100%;
    height: auto;
    display: block;
  }*/

  .field--name-hub-field-hub-degree-featured-info {
    @media #{$mediaMdm} {
      max-width: 304px;
      margin: 0 auto;
    }
  }

  // Temporary
  .hub-resource-field--name-field-fc-p-link {
    display: none;
  }

  .hub-resource--type-paragraph-hub-quote-ref,
  .hub-resource-field--name-field-hub-quote-ref-item,
  .hub-resource-field--name-field-hub-quote-ref-item > .hub-resource-field__item,
  .quote-box,
  .field--name-field-quote-ref,
  .node--type-grad-quote {
    @extend %h100;
  }
}

.stat_hl_io,
.hub_img,
.fci {
  position: relative;
  @include innerBorder;
}

.stat_hl_io,
.fci {

  &:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 10px;
    left: 10px;
    content: "";
    background: rgba($white,.3);
    z-index: 10;

    @media #{$mediaMd} {
      width: 11px;
      height: 11px;
      top: 17px;
      left: 17px;
    }
  }
}

.stat_hl_io {
  img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 0;
  }
}
