/*  --------------------------------------------------------------------------  *\

    Button - Primary

\*  --------------------------------------------------------------------------  */
@mixin btn-primary {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    position: relative;
    display: flex;
    align-items: center;
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    overflow: hidden;
    min-height: 60px;
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    background: linear-gradient(0deg, $accent-3 0%, lighten($accent-3, 7) 100%);
    border: none;
    border-radius: 4px;
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    color: $primary;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 15px 65px 15px 15px;
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

    &:before {
      width: 130px;
      height: 150%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;
      content: "";
      background: linear-gradient(-45deg, $accent-4 50%, rgba($accent-4,0) 50%);
      transform-origin: bottom right;
      transition: opacity 0.25s;

      @media #{$mediaSm} {
        //width: 83px;
      }
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 1.5rem;
      font-size: 1.4em;
      transform: translateY(-46%);
      transition: transform 0.25s;
      content: "\E01B";
      font-family: $iconFont;
      font-weight: 400;
      font-size: 2.6rem;
      transition: right .25s ease-out;
    }

    > .icon {
      display: none;
    }

    @media #{$mediaSm} {
      display: inline-flex;
      padding: 16px 80px 16px 22px;
    }

    @media #{$mediaLg} {
      font-size: 2.4rem;
    }

    /*-------  USE THIS IF YOU HAVE ANIMATIONS INCLUDED IN YOUR DESIGN   ------------*\
    &:not([class*="btn-ani-fill-"]) {
        @include hover {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            background: $primary;
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            color: $white;
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        }
    }

    @include hover {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        color: $primary;
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    }
    \*-------------------------------------------------------------------------------*/

    /*------  USE THIS IF YOU DO NOT HAVE ANIMATIONS INCLUDED IN YOUR DESIGN   ------*\
    \*-------  USE THIS IF YOU HAVE ANIMATIONS INCLUDED IN YOUR DESIGN   ------------*/
    @include hover {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        background: linear-gradient(0deg, #ffde8c 0%, #ffdf91 100%);
        color: $primary;
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

        &:before {
          background: linear-gradient(-45deg, #ffd072 50%, rgba(#ffd072,0) 50%);
        }

        &:after {
          right: 1rem;
        }
    }

    @media #{$mediaMd} {
      max-width: 380px;
      min-width: 380px;
    }
}

.btn-primary {
  @include btn-primary;
}
