/*  --------------------------------------------------------------------------  *\

    COPY - BODY STYLES

\*  --------------------------------------------------------------------------  */
@mixin heading {
  // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
  // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
  margin: 0 0 .75em;
  padding: 0;
  // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
  // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)

  // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
  // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
}

@mixin h1 {
  // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
  // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
  // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
  // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
  font-size: 2.6em;
  font-weight: 600;
  line-height: (47 / 50) * 1em;
  // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
  text-transform: uppercase;
  // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

  @media #{$mediaMd} {
      // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
      // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
      // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
      // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
      // font-size: 3.5rem;
      // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
      // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
  }

  @media #{$mediaLg} {
      // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
      // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
      // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
      // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
      //font-size: 3.2em;
      letter-spacing: .04em;
      // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
      // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
  }
}

@mixin h2 {
  // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
  // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
  // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
  // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
  font-size: 30px;
  color: $primary;
  line-height: 1.1em;
  // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
  text-transform: uppercase;
  letter-spacing: .05em;
  // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

  @media #{$mediaLg} {
      // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
      // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
      // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
      // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
      font-size: 40px;
      // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
      // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
  }

  aside & {
      font-size: 1.125em;

      ~ h2, ~ .h2 {
          margin-top: #{$gutter * .4}rem;
          padding-top: #{$gutter * .4}rem;
          border-top: .1rem solid $tertiary;
      }
  }
}

@mixin h3 {
  // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
  // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
  // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
  // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
  color: $thead;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: 400;
  // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
  // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

  @media #{$mediaMd} {
      // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
      // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
      // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
      // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
      font-size: 24px;
      // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
      // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
  }

  @media #{$mediaLg} {
      // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
      // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
      // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
      // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
      //font-size: 1.5em;
      // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
      // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
  }

  aside & {
      font-size: 1em;

      ~ h4, ~ .h4 {
          margin-top: #{$gutter * .2}rem;
      }
  }
}


// THIS IS PROBABLY WRONG!!!!!
@mixin h4 {
  // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
  // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
  // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
  // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
  font-size: 1.75em;
  // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
  // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

  @media #{$mediaMd} {
      // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
      // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
      // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
      // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
      font-size: 1.875em;
      // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
      // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
  }

  @media #{$mediaLg} {
      // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
      // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
      // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
      // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
      font-size: 2em;
      // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
      // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
  }

  @media #{$mediaToggleHeader} {
      &.ph {
          padding: 0 #{$gutter}rem;
          text-align: center;
      }
  }
}

@mixin h5 {
  // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
  // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
  // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
  // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
  font-size: 1em;
  font-weight: bold;
  // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
  text-transform: uppercase;
  // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

  aside & {
      font-size: 1em;

      ~ h5, ~ .h5 {
          margin-top: #{$gutter}rem;
      }
  }
}

@mixin h6 {
  // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
  // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
  // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
  // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
  font-size: 12px;
  font-weight: 600;
  // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
  text-transform: uppercase;
  @include letterSpacing(50);
  // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

  @media #{$mediaMd} {
    font-size: 15px;
  }
}

h1, h4, h5, h6 {
  font-family: $copyFF;
}

h2, h3 {
  font-family: $headingFF;
}
// Each of our headings will have the same styles applied to the class version
// this way our heading tag can always follow the semantic version, while the
// styling is controlled by a class.
// * IF THE STYLING AND TAG MATCH DO NOT INCLUDE THE CLASS NAME
h1, .h1 {
  @include heading;
  @include h1;
}
h2, .h2 {
  @include heading;
  @include h2;
}
h3, .h3 {
  @include heading;
  @include h3;
}
h4, .h4 {
  @include heading;
  @include h4;
}
h5, .h5 {
  // @include heading;
  // @include h5;
}
h6, .h6 {
  // @include heading;
  // @include h6;
}
