/*  --------------------------------------------------------------------------  *\

    COPY - MULTI COLUMNS

\*  --------------------------------------------------------------------------  */
@media #{$mediaMd} {
    [class*="multi-col-"] {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        margin: 0 0 1.5em;
        padding: 0;
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        @include multicolumn();
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    }
}

@media #{$mediaLg} {
    .multi-col-3 {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        @include multicolumn(3, null, null);
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    }
    .multi-col-4 {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        @include multicolumn(4, null, null);
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    }
}

.layout--generic-content {
    .two-column {
        > div > div {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @media #{$mediaLg} {
                flex-direction: row;
                align-items: flex-start;
            }

            @media #{$mediaFullHeader} {
                width: 58.33%;
            }

            table {
                max-width: 100%;
            }
        }

        > div > div {
            > .hub-resource-field {
                width: 100%;
                margin-bottom: 2rem;

                &:last-of-type {
                    margin-bottom: 0;
                }

                @media #{$mediaLg} {
                    width: calc(50% - 25px);
                    margin-bottom: 0;
                }

                @media #{$mediaXl} {
                    width: calc(50% - 50px);
                }
            }
        }

        > div > div .section {
            padding: 0;
        }

        > div > div .section > div {
            width: 100%;
            padding: 0;
        }

        > div > div .section > div > div {
            width: 100%;
        }
    }
}

.layout--program-detail-2col.section {
    @media #{$mediaXl} {
        padding-top: 4rem;        
    }
}

.layout--program-detail-2col {
    .layout__region--main {
        .section {
            padding: 0;
        }

        .section > div {
            width: 100%;
            padding: 0;
        }

        .section > div > div {
            width: 100%;
        }
    }
}