/*  --------------------------------------------------------------------------  *\

    CARD - WITH IMAGE ON SIDE

\*  --------------------------------------------------------------------------  */
&.img-side {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    @include flex(space-between, stretch, stretch, column nowrap);
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

    > a {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        @include flexItem(0, 0, auto, 1);
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

        .contextual {
            display: none;
        }
    }

    > div {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        @include flexItem(0, 0, auto, 0);
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    }

    .body + [class*="btn-"] {
      margin-top: 1em;
    }

    &.invert {
        > a {
            order: 0;
        }
    }

    > span {
        @media #{$mediaMd} {
            width: 33%;
        }

        @media #{$mediaLg} {
            width: 25%;
        }
    }

    picture, img {
        width: 100%;
        height: auto;
        display: block;
    }

    picture {
        margin-bottom: 2rem;

        @media #{$mediaMd} {
            margin-bottom: 0;
        }
    }

    h3 {
      position: relative;
      padding-bottom: 16px;

      @media #{$mediaMd} {
        padding-bottom: 26px;
        margin-bottom: 26px;
      }

      @media #{$mediaLg} {
        font-size: 4rem;
      }

      &:after {
        width: 55px;
        height: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        background: $tertiary;

        @media #{$mediaMd} {
          height: 8px;
        }
      }
    }

    h4, .h4 {
        font-size: 18px;
        @media #{$mediaLg} {
            font-size: 24px;
        }
    }

    @media #{$mediaMdMax} {
      > a {
        margin-bottom: 1em;
      }
    }

    @media #{$mediaMd} {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        align-content: center;
        align-items: flex-start;
        flex-flow: row nowrap;
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

        .style-left & {
            flex-flow: row-reverse nowrap;
        }

        > a {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            order: 0;
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            width: 50%;
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        }

        > div {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            width: 50%;
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        }

        &.alt, &:nth-child(even) {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

            > a {
                // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
                order: 1;
                // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
                // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
                // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
                // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
                // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
            }
        }

        @import "_full-screen";

        &.bot {
            align-items: flex-end;
        }

        &.small {
            justify-content: flex-start;

            > a {
                width: 12.5%;
                margin: 0 25% 17.5% 0;
            }

            .off-t-lg & {
                padding: 0;
                position: relative;

                > a {
                    @include position(absolute, 100, (left, top), (0, 0), translate(-460%, -220%));
                    width: 25%;
                    margin: 0;
                }

                > div {
                    width: 100%;
                }
            }

            .off-t .align-center & {
                padding: 0;
                position: relative;

                > a {
                    @include transform(translate(-300%, -120%));
                    margin: 0;
                    width: 25%;
                }

                > div {
                    width: 100%;
                }
            }
        }
    }

    aside & {
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: space-between;
        max-height: 12.5rem;

        &:before {
            order: 2;
            width: #{$gutter}rem;
            min-height: 9.5rem;
            content: "";
        }

        @media #{$mediaMd} {
            max-height: 15rem;

            &:before {
                min-height: 12.5rem;
            }
        }

        > a {
            order: 0;
            width: 25%;
        }

        > div, > p {
            width: calc(75% - #{$gutter}rem);
            order: 3;
            padding: 0;
        }

        h3, .h3 {
            font-size: 1.25em;
        }

        + p {
            margin-top: 1em;
        }
    }

    @import '_featured-element';
}
