&.feat-tiles-section {
  padding: #{$gutter * 2}rem 0;
  border-top: 8px solid $tertiary;
  border-bottom: 8px solid $tertiary;

  &,
  .field--name-field-landing-page-content & {
    background: linear-gradient(0deg, darken($gray4,9) 0%, $gray4 17%, $gray4 83%, darken($gray4,9) 100%);
  }

  @media #{$mediaMd} {
    padding: #{$gutter * 3}rem 0;
  }
}
