.fac-listing {
  text-align: center;
  @include flex();
  justify-content: center;
  align-items: stretch;
  margin: 0 -#{$gutter / 2}rem;
  font-size: 16px;
  line-height: 1.125em;
  color: $gray3;

  @media #{$mediaSm} {
  }

  @media #{$mediaMd} {
    margin: 0 -#{$gutter}rem;
  }

  .views-row {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    width: 50%;
    padding: #{$gutter / 2}rem 0;

    @media #{$mediaMd} {
      flex-basis: 25%;
      width: 25%;
      padding: #{$gutter}rem 0;
    }

    @media #{$mediaLg} {
      flex-basis: 20%;
      width: 20%;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .field--name-hub-field-hub-faculty-image {
      position: relative;
      margin: 0 auto;
      max-width: 150px;
      max-height: 150px;

      a {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;

        &:after {
          width: 100%;
          height: 0px;
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          background: rgba($primaryLt,0);
          transition: all .25s;
        }

        img {
          position: absolute;
          width: auto;
          height: 100%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        @include hover {
          &:after {
            height: 8px;
            background: $primaryLt;
          }
        }
      }
    }

    &:hover {
      .field--name-hub-field-hub-faculty-image {
        a {
          &:after {

          }
        }
      }
    }
  }

  h2,
  a {
    color: $secondary;
  }

  h2 {
    font-size: 16px;
    line-height: 1.2em;
    font-family: $headingFF;
    margin: 1em 0 0 0;
    text-transform: uppercase;

    @media #{$mediaMd} {
      font-size: 19px;
      line-height: 1em;
    }
  }

  a {
    text-decoration: none;
    @include hover {
      color: $primaryLt;
    }
  }

  h3 {
    font-size: 13px;
    line-height: 1.2em;
    font-family: $headingFF;
    text-transform: none;
    color: $gray2;
    margin-bottom: 7px;

    @media #{$mediaMd} {
      font-size: 16px;
    }
  }

  .email-phone {
    line-height: 1.25em;

    @media #{$mediaToggleHeader} {
      @include flex($jc: center);

      a {
        width: 50px;
        height: 35px;
        border: 1px solid $gray75;
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        position: relative;
        z-index: 5;
      }

      > div {
        position: relative;

        &:first-child {
          a {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
        }
        &:last-child {
          a {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }

        + div {
          a {
            border-left: 0;
          }
        }
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      font-size: 18px;

      @media #{$mediaFullHeader} {
        display: none;
      }
    }
  }
}

.field--name-hub-field-hub-faculty-email,
.field--name-hub-field-hub-faculty-phone {
  a {
    color: $gray2;
    font-family: $headingFF;


    @include hover {
      color: $secondary;
      text-decoration: underline;
    }
  }
}

.field--name-hub-field-hub-faculty-email a {
  text-decoration: underline;
}
