{% if wrapper == 'section' %}
<section class="section">
  <div>
    <div class="row align-center">
      <div class="col-xs-12 col-md-8">
  {% endif %}
        <figure class="img_vid {{ media_type }}">
          {% if media_type == 'video' %}
            <div class="video">
              {{ video }}
            </div>
          {% else %}
            <div class="img">
              {{ image }}
            </div>
          {% endif %}
          {% if caption != "" %}
          <figcaption>{{ caption }}</figcaption>
          {% endif %}
        </figure>
  {% if wrapper == 'section' %}
      </div>
    </div>
  </div>
</section>
{% endif %}
