/*  --------------------------------------------------------------------------  *\

    BREADCRUMB

\*  --------------------------------------------------------------------------  */
&.bc {
    // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
    // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
    // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
    // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
    // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
    text-transform: capitalize;
    // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

    ol {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        @include flex(flex-start, center, center);
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        font-family: $headingFF;
        font-size: 13px;

        @media #{$mediaFullHeader} {
          font-size: 18px;
        }
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
    }

    li {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

        + li {
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)

            &:before {
                // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
                display: inline-block;
                position: static;
                // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
                margin: 0 #{$gutter * .4}rem;
                // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
                // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
                font-family: $copyFF;
                font-weight: 600;
                color: $tertiary;
                transform: translateY(1px);
                // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
                // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
                content: "/";
            }
        }

        @media #{$mediaToggleHeader} {
            display: none;

            &:nth-last-child(-n + 1) {
                display: block;
                
                &:before {
                    display: none;
                }

                a {
                    display: none;
                    &.mobile {
                        display: inline-block;

                        &:before {
                            content: '<';
                            color: $tertiary;
                            vertical-align: middle;
                            padding-right: 4px;
                            display: inline-block;
                        }

                        &:hover, &:focus {
                            &:before {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            &:nth-last-child(2) {
                &:before {
                    display: none;
                }
            }
        }
    }

    a {
        // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
        // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
        // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
        // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
        // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
        // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        color: $white;

        @include hover {
          text-decoration: underline;
            // POSITIONING (DISPLAY, FLEX, FLEX ITEM, POSITION, LEFT, TOP, TRANSFORM)
            // BOX SIZING (WIDTH, HEIGHT, MARGIN, PADDING)
            // BOX STYLING (OPACITY, BACKGROUND, BOX SHADOW, BORDER, BORDER RADIUS, OVERFLOW)
            // FONT STYLING (FONT, FONT-FAMILY, FONT-STYLE, FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT)
            // TEXT STYLING (TEXT-DECORATION, TEXT-TRANSFORM, TEXT-ALIGN, TEXT-SHADOW)
            // OTHER (TRANSITONS, ANIMATIONS, CURSOR)
        }

        &.mobile {
            display: none;
        }
    }
}
