/*  --------------------------------------------------------------------------  *\

    INTERIOR NAVIGATIONS

\*  --------------------------------------------------------------------------  */
@at-root {
  .section.side-nav-section {
    padding: 0;

    @media #{$mediaFullHeader} {
      width: 100%;
      position: absolute;
      z-index: 1;

      + .field--name-field-interior-page-content {
        position: relative;
        z-index: 0;
      }
    }

    @media #{$mediaToggleHeader} {
      > div {
        padding: 0;
        width: 100%;
      }
    }
    + .field__items > .field__item:first-of-type {

      @media #{$mediaFullHeader} {
        min-height: 680px;
      }

      @media #{$mediaXl} {
        min-height: 620px;
      }
    }
  }


}

&.side-nav {
  position: relative;

  @media #{$mediaFullHeader} {
    width: 18%;
  }

  label,
  ul {
    font-size: 12px;
    font-family: $headingFF;
    font-weight: 600;
  }

  ul {
    margin: 0;
    padding: 0;
    line-height: 1.2em;

    @media #{$mediaToggleHeader} {
      display: none;
      background: darken($gray6, 3.5);
      padding: #{$gutter}rem $gutter + 44px #{$gutter}rem #{$gutter}rem;
      text-align: right;
    }

    @media #{$mediaFullHeader} {
      font-size: 24px;
      width: 100%;
      position: absolute;
      padding: #{$gutter * 2}rem 0;
    }

    @media #{$mediaXl} {
        padding: #{$gutter * 2.5}rem 0;
    }
  }

  .menu-item {
    margin: 0;
    padding: 0;

    @media #{$mediaFullHeader} {
      margin: 0 0 (14 / 24) * 1em 0;
    }
  }

  a {
    color: $gray2;
    text-decoration: none;

    &.is-active {
      color: $gray2;
      text-decoration: underline;
    }

    @include hover {
      color: $secondary;
      text-decoration: underline;
    }

    @media #{$mediaToggleHeader} {
      display: block;
      padding: 7px 0;
    }
  }

  label {
    display: block;
    position: relative;
    text-align: right;
    background: $gray6;
    padding: 13px $gutter + 44px 13px 0;
    border-bottom: 1px solid darken($gray6, 3.5);

    &:before,
    &:after,
    span:after {
      width: 14px;
      height: 2px;
      background: $gray2;
      position: absolute;
      content: "";
      right: 14px;
      top: 19px;
      transition: all .25s;
    }

    &:before {
      transform: translateY(-4px);
    }

    &:after {
      transform: translateY(4px);
    }
    // e0e8ef
    @media #{$mediaFullHeader} {
      @include srOnly;
    }
  }


  input[type='checkbox'] {
    @include srOnly;

    &:checked {
      ~ ul {
        display: block;
      }

      ~ label {
        &:before {
          transform: rotate(45deg) translate(0);
        }

        &:after {
          transform: rotate(-45deg) translate(0);
        }

        span:after {
          opacity: 0;
        }
      }
    }
  }
}
